<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <container>
            <register type="MsBuilderific.Contracts.Visitors.IBuildOrderVisitor, MsBuilderific.Contracts" mapTo="MsBuilderific.Visitors.Build.MsBuildProjectVisitor, MsBuilderific.Visitors" name="MsBuild"/>
            <register type="MsBuilderific.Contracts.Visitors.IBuildOrderVisitor, MsBuilderific.Contracts" mapTo="MsBuilderific.Visitors.Build.MsTestsProjectVisitor, MsBuilderific.Visitors" name="MsTest"/>
            <register type="MsBuilderific.Contracts.Visitors.IBuildOrderVisitor, MsBuilderific.Contracts" mapTo="MsBuilderific.Visitors.Clean.CleanBuildArtefactsVisitor, MsBuilderific.Visitors" name="CleanBuild"/>
        </container>
    </unity>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
